html {
	height: 100%;
	box-sizing: border-box;
}

body {
	min-height: 100%;
}

.footer {
	border-top: .05rem solid #e5e5e5;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
}

.icons {
	font-size: 25px;
}

.productitem {
	margin-top: 25px;
	border: 1px solid #e1e7ec;
	border-radius: 7px;
	padding: 5px;
	margin-top: 25px;
}